 

<form action="/tax" method="post">
    <label for="txtfn">Enter Your CTC</label>
    <input type="number" name="FN" id="txtfn" />
    <button type="submit">Calulate Tax</button>
    <h2>@ViewBag.result</h2>

</form>